@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

input::placeholder {
  color: #818cf8;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
